################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SitecoreGTMConnector
/packages
**/code/bin
**/code/obj/Debug
