################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
**/code/bin
**/website/bin
**/obj/Debug
**/obj/Release
*.user
mkcert.exe
**/bin/Debug
**/obj/Debug

# Docker Ignore
/docker/data/*
!/docker/data/*.gitkeep

/docker/deploy/website/*
!/docker/deploy/website/*.gitkeep

/docker/traefik/certs/*
!/docker/traefik/certs/*.gitkeep