################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
**/code/bin
**/obj/Debug
**/obj/Release
/data
*.user